<template>
      <li>
        <a :class="{'has-text-weight-bold': hasChildren}"
             @click="toggle"
             class="has-text-dark"
        >
            {{ category.name }}
            <span class="icon">
                <i :class="categoryIcon"></i>
            </span>
        </a>
        <ul v-show="open" v-if="hasChildren" class="menu-list">
          <item class="item"
                v-for="(model, index) in category.children"
                :key="index"
                :category="model"
                @showChildren="showChildren"
          >
          </item>
        </ul>
      </li>
</template>

<script>
    export default {
        props: {
            category: Object,
        },
        name: 'item',
        data() {
            return {
                open: false
            }
        },
        computed: {
            hasChildren() {
                return this.category.children &&
                    this.category.children.length
            },
            categoryIcon() {
                if (!this.hasChildren) {
                    return '';
                } else if (this.open) {
                    return 'fa fa-caret-up';
                } else {
                    return 'fa fa-caret-down';
                }
            }
        },
        methods: {
            toggle() {
                if (this.hasChildren) {
                    this.open = !this.open
                }
                this.showChildren(this.category.id);
            },
            showChildren(id) {
                this.$emit('showChildren', id);
            },
        }
    }
</script>
