<template>
    <section class="hero is-primary is-bold is-fullheight">
        <div class="hero-head">
            <div class="container is-fluid">
                <h1 class="has-text-centered title">Главное окно</h1>
            </div>
        </div>

        <div class="hero-body">
            <div class="container is-fluid">
                <div class="columns">
                    <div class="column menu is-one-third">
                        <ul class="menu-list">
                            <item class="item"
                                  v-for="(category, index, key) in categories"
                                  :key="category.id"
                                  :category="category"
                                  @showChildren="getChildren"
                            >
                            </item>
                        </ul>
                    </div>
                    <div class="column">
                        <div v-if="emptyProducts">
                            Nothing here, look around
                        </div>
                        <div v-else class="columns is-multiline">
                            <div v-for="(product, index, key) in products"
                                :key="product.id"
                                 class="column is-half"
                            >
                                <article>
                                    <p class="title">
                                        <button class="delete" @click="deleteProduct(product.id)"></button>
                                        {{ product.name}}
                                    </p>
                                    <figure class="image is-4by3">
                                        <img :src="product.image"/>
                                    </figure>
                                    <p class="subtitle">
                                        {{ product.description}}
                                    </p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import Item from './components/item.vue'

    export default {
        name: 'app',
        data() {
            return {
                categories: [],
                products: [],
            }
        },
        methods: {
            getCategories() {
                window.axios.get('/api/categories/').then((result) => {
                    result.data.forEach(category => {
                        this.categories.push(category);
                    });
                });
            },
            getChildren(id) {
                window.axios.get('/api/categories/' + id).then((result) => {
                    this.products = result.data.products;
                });
            },
            deleteProduct(id, index) {
                window.axios.delete('/api/products/' + id).then((result) => {
                    this.products.splice(index, 1);
                    console.log(result);
                });
            }
        },
        computed: {
            emptyProducts() {
                return !this.products.length;
            }
        },
        created() {
            this.getCategories();
        },
        components: {
            Item,
        },
    }
</script>

<style>

</style>
